@import "tailwindcss";

/* https://tailwindcss.com/docs/dark-mode#using-a-data-attribute */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme {
  --breakpoint-mobile: 23.4375rem; /* Mobile: 375px */
  --breakpoint-desktop: 90rem; /* Desktop: 1440px */
  --color-brand-blue-lighter: hsl(200, 15%, 8%); /* Very Dark Blue (Light Mode Text) */
  --color-brand-blue: hsl(209, 23%, 22%); /* Dark Blue (Dark Mode Elements) */
  --color-brand-blue-darker: hsl(207, 26%, 17%); /* Very Dark Blue (Dark Mode Background) */
  --color-brand-gray-lighter: hsl(0, 0%, 98%); /* Very Light Gray (Light Mode Background) */
  --color-brand-gray: hsl(0, 0%, 52%); /* Dark Gray (Light Mode Input) */
  --color-brand-white: hsl(0, 0%, 100%); /* White (Dark Mode Text & Light Mode Elements) */
}
